@*@model Travelling.Business.Country*@

@model Travelling.Web.ViewModels.EditCountryViewModel

@{
    ViewBag.Title = "Edit";
    var imageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/ThemeMaterial/images/default-image.jpg";
}

<h2>Edit</h2>


<form id="updateCountry">
    <div>
        <input type="hidden" name="ID" value="@Model.ID" />

        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" />
        <br /><br />

        <label>Description</label>
        <input type="text" name="Description" value="@Model.Description" />
        <br /><br />

        <label>Image</label>
        <input type="hidden" name="ImageURL" id="ImageURL" value="@Model.ImageURL" />
        <input type="file" name="Image" id="imageUpload" accept=".png, .jpg, .jpeg" />

        <img src="@imageURL" id="countryImage" width="100" height="100" />
        <br />

        <button type="button" id="editCountry">Update</button>
    </div>
</form>


<script>
    $(document).ready(function () {

        //--> Image functionallity.
        $('#imageUpload').change(function () {
            debugger;
            var element = this;
            var formData = new FormData();

            var totalFiles = element.files.length;

            for (var i = 0; i < totalFiles; i++) {
                var file = element.files[i];
                formData.append("photo", file);
            }

            $.ajax({
                type: 'POST',
                url: '/Shared/UploadImage',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false
            })
                .done(function (response) {
                    console.log(response);
                    if (response.Success) {
                        $('#countryImage').attr('src', response.ImageURL);
                        $('#ImageURL').val(response.ImageURL);
                    }
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('Opps Something went wrong!!');
                })

        })

        //--> Edit button Functionallity.
        $('#editCountry').click(function () {
            if ($('#updateCountry').valid()) {
                $.ajax({
                    type: 'POST',
                    url: '/Country/Edit',
                    data: $('#updateCountry').serialize()
                })
                    .done(function (response) {
                        $('#tableContainer').html(response);
                        $('#actionContainer').html('');
                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('Opps Something went wrong!!');
                    })
            }
            else {
                swal({
                    title: "Warning?",
                    text: "Please enter all required all fields!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
            }
        })


        //--> Applying Validation on form.
        $('#updateCountry').validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 1,
                    maxlength: 100
                },
                Description: {
                    required: true,
                    minlength: 1,
                    maxlength: 500
                },
                ImageURL: {
                    required: true
                }

            },
            messages: {
                Name: {
                    required: 'Name is Required',
                    minlength: 'Minimum length should be 1',
                    maxlength: 'Maximum length should be 100'
                },
                Description: {
                    required: 'Description is required',
                    minlength: 'Minimum length should be 1',
                    maxlength: 'Maximum length should be 500'
                },
                ImageURL: {
                    required: 'Image is required'
                }
            }
        })

    })  //-->  Here is Close document ready function().
</script>